@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
body{
    overflow-x: hidden;
    background: rgb(26, 80, 99);
    color: white;
    max-width: 100vw;
}

html {
    max-width: 100vw;
  }


